.content-wrapper {
    text-align: center;
}

.form-content #form_generate {
    display: inline-flex;
}

.form-content .input-form {
    margin-right: 20px;
}

.form-content .button-form {
    margin: 20px 0;
}

.form-content input {
    padding: 7px 15px;
    font-size: 14px;
}

.form-content button {
    padding: 7px 20px;
    color: #fff;
    cursor: pointer;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 5px;
}

.form-content button:hover,
.form-content button:hover {
    background-color: #204d74;
    border-color: #122b40;
}

.form-content select {
    padding: 8px;
    margin: 5px;
}

.response-message {
    display: none;
    margin: 20px 135px 0 0;
}